//navbar
$headerBg: #292a2d;
$border: #3f4042;
$txt: #ffffff;
$bgSearch: #202123;
$item: #a4a5a8;

//body
$bodyBg: #202124;

//login
$mainBg: #292a2d;
$shadow: #00000050;
$bgInput: #202123;
$outline: #ffffffc9;
$bgButton: #292a2d;
$txtBlack: #000000;
$chkBg: #ffffff;
$chkBgHover: #c0c0c0;
$chkBgChecked: #a4a5a8;
