@use "./color";
@use "./font";
@use "./navbar";
@use "./component/checkbox";
@use "./component/textbox";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  font-weight: lighter;
}

body {
  background: color.$background;
  position: relative;
  height: 250vh;
}
