@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hurricane&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  font-weight: lighter;
}

body {
  background: #202124;
  position: relative;
}

#login {
  color: #ffffff;
  /* display: none; */
  /* End of Desktop View */
  /* End of Mobile View */
}
@media (min-width: 980px) and (max-width: 2560px) {
  #login {
    position: absolute;
    top: 50vh;
    left: 50vw;
    display: flex;
    flex-flow: row nowrap;
    width: 950px;
    height: 400px;
    background: #292a2d;
    box-shadow: 3px 3px 10px #00000050;
    border-radius: 5px;
    transform: translate(-50%, -50%);
  }
  #login img {
    height: 100%;
    border-radius: 5px 0 0 5px;
    border-right: 1px solid #a4a5a8;
  }
  #login section {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #login section h1 {
    margin: 30px 0px 20px 0px;
    font-family: "Dancing Script";
    font-size: 60px;
    user-select: none;
  }
  #login section .txtUser,
#login section .txtPassword {
    outline: none;
    margin: 10px 0px;
    height: 30px;
    width: 200px;
    padding: 2px 7px;
    border-radius: 5px;
    background: #202123;
    border: 1px solid #3f4042;
    color: #ffffff;
    transition: 0.1s outline;
    font-family: Arial;
    transition: 0.1s;
  }
  #login section .txtUser:focus,
#login section .txtPassword:focus {
    outline: 2px solid #ffffffc9;
  }
  #login section .error {
    border: 1px solid #850f0f;
    outline: 1px solid #850f0f;
    background: #850f0f54;
    color: #fff;
  }
  #login section .error::placeholder {
    color: #fff;
  }
  #login section .containerPassword {
    position: relative;
  }
  #login section .containerPassword #chkShowPassword {
    display: none;
  }
  #login section .containerPassword #lblPassword {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    width: 30px;
    height: 22px;
    border-left: 1px solid #3f4042;
    padding-left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  #login section .containerPassword #lblPassword i {
    cursor: pointer;
    color: #a4a5a8;
    transition: 0.2s color;
  }
  #login section .containerPassword #lblPassword i:hover {
    color: #ffffff;
  }
  #login section .containerRememberMe {
    position: relative;
    width: 200px;
    text-align: right;
    font-size: 14px;
    margin: 0px 0px 10px 0px;
    gap: 10px;
    cursor: pointer;
    user-select: none;
    /* opacity: 0.3; */
  }
  #login section .containerRememberMe input:checked ~ label,
#login section .containerRememberMe input {
    opacity: 1;
    opacity: 1;
  }
  #login section .containerRememberMe label,
#login section .containerRememberMe input {
    opacity: 0.2;
    cursor: pointer;
    transition: 0.1s opacity;
  }
  #login section .containerRememberMe label:hover,
#login section .containerRememberMe input:hover {
    opacity: 1;
  }
  #login section button {
    width: 200px;
    height: 30px;
    outline: none;
    margin: 20px 0px;
    text-transform: uppercase;
    border: 1px solid #3f4042;
    border-radius: 5px;
    box-shadow: 0px 2px 2px #00000050;
    background-color: #292a2d;
    color: #ffffff;
    transition: 0.1s border;
    cursor: pointer;
  }
  #login section button:hover {
    border: 2px solid #ffffffc9;
  }
  #login section button:active {
    background: #ffffff;
    color: #000000;
  }
  #login section p {
    margin: auto 0px;
    font-size: 12px;
  }
  #login section p a {
    text-decoration: none;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
  }
}
@media (max-width: 979px) {
  #login {
    width: 95%;
    background: #292a2d;
    box-shadow: 3px 3px 10px #00000050;
    border-radius: 5px;
    margin: 25px auto;
  }
  #login aside {
    height: 150px;
    background: yellow;
    overflow: hidden;
    position: relative;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #3f4042;
  }
  #login section {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #login section h1 {
    margin: 50px auto 30px auto;
    font-family: "Dancing Script";
    font-size: 60px;
    user-select: none;
  }
  #login section .txtUser,
#login section .txtPassword {
    outline: none;
    margin: 10px 0px;
    height: 40px;
    width: 250px;
    padding: 2px 7px;
    border-radius: 5px;
    background: #202123;
    border: 1px solid #3f4042;
    color: #ffffff;
    transition: 0.1s outline;
    font-family: Arial;
  }
  #login section .txtUser:focus,
#login section .txtPassword:focus {
    outline: 2px solid #ffffffc9;
  }
  #login section #showPassword {
    display: none;
  }
  #login section .containerPassword {
    position: relative;
  }
  #login section .containerPassword #chkShowPassword {
    display: none;
  }
  #login section .containerPassword #lblPassword {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    width: 30px;
    height: 22px;
    border-left: 1px solid #3f4042;
    padding-left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  #login section .containerPassword #lblPassword i {
    cursor: pointer;
    color: #a4a5a8;
    transition: 0.2s color;
  }
  #login section .containerPassword #lblPassword i:hover {
    color: #ffffff;
  }
  #login section .containerRememberMe {
    position: relative;
    width: 250px;
    text-align: right;
    font-size: 14px;
    margin: 0px 0px 10px 0px;
    gap: 10px;
    cursor: pointer;
    user-select: none;
  }
  #login button {
    width: 150px;
    height: 50px;
    outline: none;
    margin: 60px 0px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #3f4042;
    border-radius: 5px;
    box-shadow: 0px 2px 2px #00000050;
    background-color: #292a2d;
    color: #ffffff;
    transition: 0.1s border;
    cursor: pointer;
  }
  #login button:hover {
    border: 2px solid #ffffffc9;
  }
  #login button:active {
    background: #ffffff;
    color: #000000;
  }
  #login p {
    margin: 30px auto 50px auto;
    font-size: 12px;
  }
  #login p a {
    text-decoration: none;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
  }
}

#signup {
  display: none;
  width: 450px;
  height: 850px;
  background-color: #850f0f;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.animation {
  animation: 0.8s switchScreen;
}

@keyframes switchScreen {
  0% {
    width: 950px;
    height: 400px;
  }
  100% {
    width: 450px;
    height: 850px;
  }
}

/*# sourceMappingURL=login.css.map */
